body {
    text-align: center;
}



.input-button {
    width: 100px;
}

.number-display {
    text-align: center;
}

.winning {
    color: green;
}

.losing {
    color: red;
}

.hidden {
    visibility: hidden;
}

#score-board {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}

#play-game {
    height: 40px;
    width: 300px;
    background-color: green;
    color: white;
}